@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



ol{
    text-align: justify;
}

.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

.wrap > h2:after{
    content: '';
    width: 100%;
    height: 1px;
    margin: 20px 0;
}

.store-wraper{
    display: flex;
    padding-top: 40px;

}

.wrap{
    text-align: center;
}
.category_list{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.category_list .category_item{
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #7edbd4;  
    text-decoration: none;
    border-radius: 50px 50px 50px 50px ;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.493);
    /* border-radius: 57% 43% 41% 59% / 30% 39% 61% 70%;  */ 
    transition: all 0.4s;

} 

/*Tamaño de una tableta*/
@media screen and (max-width:800px){
  .category_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 49%;
}

  .category_list .category_item{
    display: block;
    width: 90%;
    /* padding: 15px 0; */
    padding: 1rem 0.75rem;
    margin-bottom: 20px;
    font-size: 15px;
    background: #7edbd4;  
    text-decoration: none;
    border-radius: 50px 50px 50px 50px ;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.493);
    /* border-radius: 57% 43% 41% 59% / 30% 39% 61% 70%;  */ 
    transition: all 0.4s;
  }

  .product-list .product-item{
    width: 10rem;
    background-color: #7edbb4;
    margin-left: 3%;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.493);
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 1rem;
    transition: all 0.4s;
  }

  .product-list{
    width: 1rem;
    /* width: 200px; */
    display: flex;
    flex-wrap: wrap;
    width: 2rem;
    
  }
  .product-list .product-item img{
    width: 100%;
    border-radius: 15px 15px 15px 15px ;
  }

  .product-list .product-item a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
}

/*Tamaño de un celular*/
/* @media screen and (max-width:450px){

  .category_list .category_item{
    display: block;
    width: 100%;
    padding: 1rem 0.75rem;
    margin-bottom: 1rem;
    background: #7edbd4;  
    text-decoration: none;
    font-size: 15px;
    border-radius: 50px 50px 50px 50px ;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.493);
    
    transition: all 0.4s;
  }
} */
.category_list .category_item:hover{
    background: #3ea1c2;
}
.category_list .ct_item-active{
    background: #3ea1c2;
}

/* Productos */
.product-list{
    width: 3rem;
    /* width: 200px; */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    
}

.product-list .product-item{
    width: 12rem;
    background-color: #7edbb4;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.493);
    border-radius: 15px 15px 15px 15px ;
    margin-bottom: 50px;
    transition: all 0.4s;


}

.product-list .product-item:hover{
    background-color: #68b187;
}

.product-list .product-item img{
    width: 100%;
    border-radius: 15px 15px 15px 15px ;
}

.product-list .product-item a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}


/* Empieza container de videos */

.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 80%;
   /*  max-width: var(--fixed-width); */
  }
  .review {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
  }
  .review:hover {
    box-shadow: var(--dark-shadow);
  }
  .img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  #person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  .img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f10e"; */
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--clr-primary-5);
    color: var(--clr-white);
  }
  .img-container::before {
    /* content: "";
    width: 100%;
    height: 100%; */
    background: var(--clr-primary-5);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
  }
  #author {
    margin-bottom: 0.25rem;
  }
  #job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
  }
  #info {
    margin-bottom: 0.75rem;
  }
  .prev-btn,
  .next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color: var(--clr-primary-5);
  }
  .random-btn {
    margin-top: 0.5rem;
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    border-color: var(--clr-primary-5);
    cursor: pointer;
  }
  .random-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
  }

  /*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #68b187;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }